@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body, html {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container {
    display: flex;
    background-color: red;
    width: 100%;
    height: 86.9vh;
    overflow: hidden;
}       

nav{
    background-color: #212229;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 1em;
}
nav .profile img{
    width: 25px;
    height: 25px;
}
.connection{
    background-color: #212229;
    width: 20%;
    color: white;
    height: 100%;
}
.connection ul{
    list-style: none;
    padding: 10px;
}
.connection ul li{
    background-color: #383a46;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s;
}
.connection ul li:hover{
    cursor: pointer;
    transform: scale(0.95);
}
.chat{
    width: 60%;
}
#chatHeader{
    background-color: #212229;
    padding: 5px;
    color: white;
}
#chatMessages {
    overflow-y: auto;
    padding-left: 20px;
    height: 80%;
    color: white;
}
.message-container {
    display: flex;
    flex-direction: column;
}

.sent-message {
    align-self: flex-end;
    background-color: #296EFF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.received-message {
    align-self: flex-start;
    background-color: #383a46;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}
#groupList, #friendList {
    max-height: 250px; 
    overflow-y: auto; 
}

#groupMembersContainer{
    width: 20%;
    color: white;
}

#addFriendForm {
    position: absolute;
    top: 50%; /* Misalnya, tempatkan di tengah vertikal */
    left: 50%; /* Misalnya, tempatkan di tengah horizontal */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999; /* Atur z-index tinggi untuk muncul di atas konten lain */
}

#addFriendForm {
    display: none;
    /* Sisipkan gaya lain di sini */
}
